/*
body {
    background-image: linear-gradient(to top, #730381 0%, #021b31 100%);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Ocupa al menos la altura de la ventana 
}*/


h1 {
    width: fit-content;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 60px;
    box-shadow: 5px 5px 0 #000;
    padding: 20px 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
        background-color: #730381;
        color: white;
        text-align: center;
        padding: 10px 0;
        margin-top: auto; 
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* PANTALLA INICIO */
#pantalla-inicial {
    display: none;
    text-align: center;
    font-size: 30px;
}

#pantalla-inicial {
    margin: 60px 0;
}

.contenedor-img {
    padding: 0;
    margin: 0;
    display: flex; /* Activar Flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100%; /* Altura del contenedor, 100% de la altura de la ventana */
}

.imagen {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional para un mejor efecto */
}

.btn {
    border: none;
    background-color: #eeea0f;
    color: #000;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.1);
}

/* PANTALLA JUEGO */
#pantalla-juego {
    display: none;
}

.opciones {
    display: flex;
    text-align: center;
    margin:0 10%;
}

.opcion {
    background-color: #4CAF50; /* Verde normal */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.opcion:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el cursor */
    transform: scale(1.05);
}

.opcion.seleccionado {
    background-color: #2e8b57; /* Verde aún más oscuro para el estado seleccionado */
}
/* PANTALLA FINAL */
#pantalla-final {
    display: none;
}

/* Botón de Enviar */
.btn-enviar {
    background-color: #eeea0f; /* Amarillo */
    border: none;
    color: #000;
    padding: 15px 32px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
    margin: 20px auto; /* Centra el botón horizontalmente */
}

.btn-enviar:hover {
    background-color: #d1c700; /* Amarillo más oscuro al pasar el cursor */
    transform: scale(1.05);
}

/* Botón de Volver al Menú */
.btn-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #eeea0f; /* Amarillo */
    border: none;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-menu:hover {
    background-color: #d1c700; /* Amarillo más oscuro al pasar el cursor */
    transform: scale(1.05);
}

.options button {
    display: block;
    width: 100%;
    background-color: #ffee00;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.options button:hover {
    background-color: #0056b3;
}
.feedback {
    padding: 0px 50px 0px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.correct {
    color: rgb(0, 255, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
}
.incorrect {
    color: red;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}

.codigo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: rgb(0, 255, 0);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

